body {
  background-color: dodgerblue;
  text-align: center;
}

#titulo {
  background-color: aliceblue;
  padding: 2%;
  font-size: 3em;
  text-align: center;
  margin: 0% 30% 2% 30%;
}

#acoes {
  background-color: aliceblue;
  padding: 2%;
  font-size: 1.5em;
  text-align: center;
  margin: 0% 30% 2% 30%;
}

#cpf {
  width: 150px;
  height: 25px;
  font-size: 0.8em;
  text-align: center;
  margin-bottom: 2%;
}

#botao {
  width: 150px;
  height: 30px;
  font-size: 0.8em;
}